[submodule "themes/hugo-theme-sam"]
	path = themes/hugo-theme-sam
	url = git@github.com:AliciaGaona/hugo-theme-sam.git
[submodule "public"]
	path = public
	url = git@github.com:AliciaGaona/Pokedex.git
[submodule "hugo-theme-sam"]
	path = hugo-theme-sam
	url = git@github.com:AliciaGaona/hugo-theme-sam.git
