[submodule "themes/hugo-theme-sam"]
	path = themes/hugo-theme-sam
	url = git@github.com:AliciaGaona/hugo-theme-sam.git

[submodule "hugo-theme-sam"]
	path = hugo-theme-sam
	url = git@github.com:AliciaGaona/hugo-theme-sam.git
[submodule "themes/hugo-theme-monochrome"]
	path = themes/hugo-theme-monochrome
	url = git@github.com:AliciaGaona/hugo-theme-monochrome.git
[submodule "publics"]
	path = publics
	url = git@github.com:AliciaGaona/SoyAliceBlog.git
