[submodule "themes/hugo-theme-sam"]
	path = themes/hugo-theme-sam
	url = git@github.com:AliciaGaona/hugo-theme-sam.git

[submodule "hugo-theme-sam"]
	path = hugo-theme-sam
	url = git@github.com:AliciaGaona/hugo-theme-sam.git
